.access-header {
  height: 200px;
  background: linear-gradient(200deg, #6e71ff, #ae6bfa);
  color: var(--dark-color);
  text-align: center;
  align-content: center;
}

.accounds-table {
  margin: 1%;
  border: 1px solid #ffffff46;
  background-size: 2000px auto;
  background-position: center;
  padding: 10px;
}

.accounds-table > .controls {
  justify-content: center;
}

.new-accound {
  width: 600px;
}

.get-asesors, .get-students {
  margin: 8px 3px;
}

.asesor-card {
  margin: 10px 0;
  padding: 10px 12px;
  background: linear-gradient(100deg, #ee01c618, #0030b318);
  color: var(--light-color);
  border-radius: 7px;
}

.data {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

.get-asesors, .get-students {
  width: 50%;
  max-height: 800px;
  overflow-y: scroll;
}