.dash-header {
  height: 200px;
  background: linear-gradient(200deg, #6e71ff, #ae6bfa);
  color: var(--dark-color);
  text-align: center;
  align-content: center;
}

.dashboard {
  background-color: var(--light-background);
}

.description {
  padding: 30px;
}

.description > p {
  font-size: 18px;
  font-weight: lighter;
}

.dash-container {
  display: flex;
  gap: 1%;
  padding: 10px 0;
}

.dash-into-container {
  /*border: 1px solid #002fff86;
    border-radius: 6px;
  background: linear-gradient(100deg, #ee01c618, #0030b318);*/
  background-size: 2000px auto;
  background-position: center;
  padding: 10px;
  text-align: center;
  align-content: center;
}

.dash-into-container h3 {
  padding: 10px 0;
}

.dash-into-container .controls {
  justify-content: right;
}

.asesories-table {
  width: 70%;
}

.access {
  width: 50%;
}

.access .role {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.access .role a {
  width: 32%;
}

.access .role a > button {
  width: 100%;
  padding: 4% 2%;
  margin: 1% 0;
  background-color: #ffffff4d;
  border: 0.5px solid #16161646;
}

.access .role a > button:hover {
  transition: 0.3s;
  background-color: #cc88fa4d;
  border: 0.5px solid #16161628;
}

.schedule {
  width: 30%;
}

.data-manage {
  width: 50%;
}

.stadistics {
  width: 100%;
}

.new-asesory {
  width: 450px;
}

/* FOR THE ASESORIES */
.asesory-card {
  width: 100%;
  display: flex;
  background: linear-gradient(100deg, #ee01c618, #0030b318);
  border: 0.5px solid #1900ff63;
  border-radius: 6px;
  margin: 5px 0;
  padding: 3px 12px;
  align-items: center;
  gap: 15px;
}

.basic-data {
  display: flex;
  gap: 10px;
}

.basic-data p {
  align-content: center;
}

.details-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.asesory-card p {
  font-size: 15px;
}

.status-asesory-span {
  padding: 4px 14px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: #0030b318;
}

.asesory-control {
  border-radius: 30px;
  padding: 7px 11px;
  border: none;
}

@media screen and (max-width: 800px) {
  .dash-container {
    display: inline;
  }

  .dash-into-container {
    margin: 5% 0;
    padding: 1%;
    width: 100%;
  }

  .new-asesory {
    top: 0;
    bottom: 0;
    width: 100%;
  }

  .asesory-card {
    display: inline;
  }

  .basic-data {
    display: inline;
  }

  .details-data {
    display: inline;
  }

  .details-data p {
    font-size: 17px;
  }
}
