.profile-head-bg {
  height: 100px;
  background: linear-gradient(200deg, #6e71ff, #ae6bfa);
}

.profile-header,
.profile {
  padding: 20px;
}

table {
  padding: 20px;
  width: 100%;
  font-size: 25px;
}

table td {
  padding: 1px 0;
}

.escalia-sponsor {
  padding: 30px;
  background-color: #6e71ff;
  color: #fff;
  display: block;
}

.escalia-sponsor h2 {
  font-size: 20px;
  font-weight: bold;
}