.profile-head-bg {
  height: 100px;
  background: linear-gradient(200deg, #6e71ff, #ae6bfa);
}

.profile-header,
.profile {
  padding: 20px;
}

table {
  padding: 20px;
  width: 100%;
  font-size: 25px;
}

table td {
  padding: 1px 0;
}

.escalia-sponsor {
  padding: 30px;
  background-color: #6e71ff;
  color: #fff;
  display: block;
}

.escalia-sponsor h2 {
  font-size: 20px;
  font-weight: bold;
}

.profile-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-header h2 {
  font-size: 24px;
  color: #333;
}

.profile-details {
  font-size: 16px;
  line-height: 1.6;
}

.profile-details p {
  margin: 10px 0;
}

.profile-details strong {
  color: #555;
}
