body {
  background: linear-gradient(200deg, #181aa0, #450094);
  background-position: center;
  color: #000;
}

main {
  display: flex;
  height: 100vh;
}

.white-place {
  width: 20%;
}

.signup-container {
  width: 80%;
  height: auto;
  padding: 2%;
  background-color: #fff;
  align-content: center;
}

.signup-titles {
  padding: 20px 0;
  text-align: center;
}

.placehold-area {
  padding: 2% 0;
  display: flex;
  gap: 5px;
}

.input-area {
  padding: 5px;
}

select {
  padding: 5px 7px;
  border: transparent;
  background-color: transparent;
}

input {
  width: auto;
}

#matricula {
  width: 160px;
}

#name {
  width: 150px;
}

#academic {
  width: 300px;
}

.s_selector {
  display: flex;
}

#c_students {
  background-color: #fff;
  padding: 10px;
}

#c_teachers {
  background-color: #fff;
  padding: 10px;
}

.signup-controls {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: end;
}

@media screen and (max-width: 800px) {
  .placehold-area {
    display: inline;
  }

  main {
    display: inline;
  }

  .signup-container {
    width: 100%;
    height: 100vh;
  }
}
