body {
  background-position: center;
  background-color: #fff;
  color: #000;
}

.u_content {
  margin: 2%;
  padding: 2%;
  border-radius: 5px;
  background-color: #f2f3f4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.placeholder {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px 0;
  gap: 20px;
}