body {
  background-position: center;
  background-color: #fff;
  color: #000;
}

.a_content {
  padding: 2%;
  border-radius: 5px;
  background-color: #f2f3f4;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}