.dash-header {
  height: 200px;
  background: linear-gradient(200deg, #6e71ff, #ae6bfa);
  color: var(--dark-color);
  text-align: center;
  align-content: center;
}

.dashboard {
  background-color: var(--light-background);
}

.description {
  padding: 30px;
}

.description > p {
  font-size: 18px;
  font-weight: lighter;
}

.dash-container {
  display: flex;
  gap: 1%;
  padding: 8px 0;
}

.dash-into-container {
  border: 1px solid #ffffff46;
  border: 1px solid #ffffff46;
  background: linear-gradient(100deg, #ee01c618, #0030b318);
  background-size: 2000px auto;
  background-position: center;
  padding: 15px;
  text-align: center;
  align-content: center;
}

.dash-into-container h3 {
  padding: 10px 0;
}

.dash-into-container .controls {
  justify-content: right;
}

.asesories-table {
  width: 70%;
}

.schedule {
  width: 30%;
}

.asesory-card {
  width: 100%;
  display: flex;
  background: linear-gradient(100deg, #ee01c618, #0030b318);
  border: 0.5px solid #1900ff63;
  border-radius: 6px;
  margin: 5px 0;
  padding: 3px 12px;
  align-items: center;
  gap: 15px;
}

.basic-data {
  display: flex;
  gap: 10px;
}

.basic-data p {
  align-content: center;
}

.details-data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.asesory-card p {
  font-size: 15px;
}

.status-asesory-span {
  padding: 4px 14px;
  font-size: 14px;
  border: none;
  border-radius: 20px;
  background-color: #0030b318;
}

.asesory-control {
  border-radius: 30px;
  padding: 7px 11px;
  border: none;
}

.get-assigments {
  max-height: 800px;
  overflow-y: scroll;
}